.client_channels_list_container{
	background-color: #062047;
}
.channel_header{
	background-color: #0C1638;
}
.channel_title_info button{
	background-color: #1E88E5;
}
.flex_header button{
	background-color: #1E88E5;
}
.client_body{
	background-color: #212121;
}
.c-scrollbar__hider::before{
	background-color: #0D47A1;
}
.p-channel_sidebar__list{
	background-color: #031228;
}
#col_messages{
	background-color: #212121;
}
.c-virtual_list__scroll_container{
	background-color: #212121;
}
.c-virtual_list__scroll_container span{
	color: #eeeeee;
}
.c-virtual_list__item:hover{
	background-color: #222222;
}
.c-message__sender > a{
	color: #ffffff;
}
#footer_msgs{
	background-color: #212121;
}
